openapi: 3.0.0
servers:
  - url: https://api.twitch.tv/helix
    description: Production API
externalDocs:
  description: Official documentation
  url: https://dev.twitch.tv/docs/api/
info:
  title: Twitch Helix API
  description: The Twitch API is a RESTful API that lets developers build creative
    integrations for the broader Twitch community. THIS DOCUMENTATION IS NEITHER
    MAINTAINED BY OR AFFILIATED WITH TWITCH
  termsOfService: https://www.twitch.tv/p/en/legal/developer-agreement/
  contact:
    name: TwitchDev
    url: https://dev.twitch.tv/support/
    email: developers@twitch.tv
  version: 2022‑02‑25
paths:
  /channels/commercial:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Start Commercial
      description: Starts a commercial on a specified channel.
      tags:
        - Ads
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        length:
                          type: number
                        message:
                          type: string
                        retry_after:
                          type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: length
          in: query
          schema:
            type: integer
  /analytics/extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Analytics
      description: Gets a URL that Extension developers can use to download analytics
        reports (CSV files) for their Extensions. The URL is valid for 5
        minutes. For details about analytics and the fields returned, see the
        Insights & Analytics guide.
      tags:
        - Analytics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        extension_id:
                          type: string
                        URL:
                          type: string
                        type:
                          type: string
                        date_range:
                          type: object
                          properties:
                            started_at:
                              type: string
                            ended_at:
                              type: string
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: after
          in: query
          schema:
            type: string
        - name: ended_at
          in: query
          schema:
            type: string
        - name: extension_id
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: integer
        - name: started_at
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
  /analytics/games:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Game Analytics
      description: Gets a URL that game developers can use to download analytics
        reports (CSV files) for their games. The URL is valid for 5 minutes.
      tags:
        - Analytics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        game_id:
                          type: string
                        URL:
                          type: string
                        type:
                          type: string
                        date_range:
                          type: object
                          properties:
                            started_at:
                              type: string
                            ended_at:
                              type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: after
          in: query
          schema:
            type: string
        - name: ended_at
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: integer
        - name: game_id
          in: query
          schema:
            type: string
        - name: started_at
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
  /bits/leaderboard:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Bits Leaderboard
      description: Gets a ranked list of Bits leaderboard information for an
        authorized broadcaster.
      tags:
        - Bits
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        user_login:
                          type: string
                        user_name:
                          type: string
                        rank:
                          type: number
                        score:
                          type: number
                  date_range:
                    type: object
                    properties:
                      started_at:
                        type: string
                      ended_at:
                        type: string
                  total:
                    type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: count
          in: query
          schema:
            type: integer
        - name: period
          in: query
          schema:
            type: string
        - name: started_at
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
  /bits/cheermotes:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Cheermotes
      description: Retrieves the list of available Cheermotes, animated emotes to
        which viewers can assign Bits, to cheer in chat. Cheermotes returned are
        available throughout Twitch, in all Bits-enabled channels.
      tags:
        - Bits
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        prefix:
                          type: string
                        tiers:
                          type: array
                          items:
                            type: object
                            properties:
                              min_bits:
                                type: number
                              id:
                                type: string
                              color:
                                type: string
                              images:
                                type: object
                                properties:
                                  dark:
                                    type: object
                                    properties:
                                      animated:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                          "2":
                                            type: string
                                          "3":
                                            type: string
                                          "4":
                                            type: string
                                          "1.5":
                                            type: string
                                      static:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                          "2":
                                            type: string
                                          "3":
                                            type: string
                                          "4":
                                            type: string
                                          "1.5":
                                            type: string
                                  light:
                                    type: object
                                    properties:
                                      animated:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                          "2":
                                            type: string
                                          "3":
                                            type: string
                                          "4":
                                            type: string
                                          "1.5":
                                            type: string
                                      static:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                          "2":
                                            type: string
                                          "3":
                                            type: string
                                          "4":
                                            type: string
                                          "1.5":
                                            type: string
                              can_cheer:
                                type: boolean
                              show_in_bits_card:
                                type: boolean
                        type:
                          type: string
                        order:
                          type: number
                        last_updated:
                          type: string
                        is_charitable:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /extensions/transactions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Transactions
      description: Gets the list of Extension transactions for a given Extension. This
        allows Extension back-end servers to fetch a list of transactions that
        have occurred for their Extension across all of Twitch.
      tags:
        - Bits
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
  /channels:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Information
      description: Gets channel information for users.
      tags:
        - Channels
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                        broadcaster_login:
                          type: string
                        broadcaster_name:
                          type: string
                        broadcaster_language:
                          type: string
                        game_id:
                          type: string
                        game_name:
                          type: string
                        title:
                          type: string
                        delay:
                          type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    patch:
      summary: Modify Channel Information
      description: Modifies channel information for users.
      tags:
        - Channels
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /channels/editors:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Editors
      description: Gets a list of users who have editor permissions for a specific channel.
      tags:
        - Channels
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        user_name:
                          type: string
                        created_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /channel_points/custom_rewards:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Create Custom Rewards
      description: |-
        Creates a Custom Reward on a channel.

         
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                        broadcaster_login:
                          type: string
                        broadcaster_id:
                          type: string
                        id:
                          type: string
                        image:
                          type: string
                        background_color:
                          type: string
                        is_enabled:
                          type: boolean
                        cost:
                          type: number
                        title:
                          type: string
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_stream:
                              type: number
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                            url_2x:
                              type: string
                            url_4x:
                              type: string
                        should_redemptions_skip_request_queue:
                          type: boolean
                        redemptions_redeemed_current_stream:
                          type: string
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    delete:
      summary: Delete Custom Reward
      description: Deletes a Custom Reward on a channel.
      tags:
        - Channel Points
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
    get:
      summary: Get Custom Reward
      description: Returns a list of Custom Reward objects for the Custom Rewards on a
        channel.
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                        broadcaster_login:
                          type: string
                        broadcaster_id:
                          type: string
                        id:
                          type: string
                        image:
                          type: string
                        background_color:
                          type: string
                        is_enabled:
                          type: boolean
                        cost:
                          type: number
                        title:
                          type: string
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_stream:
                              type: number
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                            url_2x:
                              type: string
                            url_4x:
                              type: string
                        should_redemptions_skip_request_queue:
                          type: boolean
                        redemptions_redeemed_current_stream:
                          type: string
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    patch:
      summary: Update Custom Reward
      description: Updates a Custom Reward created on a channel.
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                        broadcaster_login:
                          type: string
                        broadcaster_id:
                          type: string
                        id:
                          type: string
                        image:
                          type: string
                        background_color:
                          type: string
                        is_enabled:
                          type: boolean
                        cost:
                          type: number
                        title:
                          type: string
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_stream:
                              type: number
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                            url_2x:
                              type: string
                            url_4x:
                              type: string
                        should_redemptions_skip_request_queue:
                          type: boolean
                        redemptions_redeemed_current_stream:
                          type: number
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
  /channel_points/custom_rewards/redemptions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Custom Reward Redemption
      description: Returns Custom Reward Redemption objects for a Custom Reward on a
        channel that was created by the same client_id. 
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                        broadcaster_login:
                          type: string
                        broadcaster_id:
                          type: string
                        id:
                          type: string
                        user_login:
                          type: string
                        user_id:
                          type: string
                        user_name:
                          type: string
                        user_input:
                          type: string
                        status:
                          type: string
                        redeemed_at:
                          type: string
                        reward:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            prompt:
                              type: string
                            cost:
                              type: number
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: reward_id
          in: query
          schema:
            type: string
    patch:
      summary: Update Redemption Status
      description: Updates the status of Custom Reward Redemption objects on a channel
        that are in the UNFULFILLED status.
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                        broadcaster_login:
                          type: string
                        broadcaster_id:
                          type: string
                        id:
                          type: string
                        user_id:
                          type: string
                        user_name:
                          type: string
                        user_login:
                          type: string
                        user_input:
                          type: string
                        status:
                          type: string
                        redeemed_at:
                          type: string
                        reward:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            prompt:
                              type: string
                            cost:
                              type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: reward_id
          in: query
          schema:
            type: string
  /chat/emotes:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Emotes
      description: Gets all emotes that the specified Twitch channel created. For
        example, subscriber emotes, follower emotes, and Bits tier emotes.
      tags:
        - Chat
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /chat/emotes/global:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Global Emotes
      description: Gets all global emotes. Global emotes are Twitch-specific emoticons
        that every user can use in Twitch chat.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        images:
                          type: object
                          properties:
                            url_1x:
                              type: string
                            url_2x:
                              type: string
                            url_4x:
                              type: string
                        format:
                          type: array
                          items:
                            type: string
                        scale:
                          type: array
                          items:
                            type: string
                        theme_mode:
                          type: array
                          items:
                            type: string
                  template:
                    type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/emotes/set:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Emote Sets
      description: Gets emotes for one or more specified emote sets.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        images:
                          type: object
                          properties:
                            url_1x:
                              type: string
                            url_2x:
                              type: string
                            url_4x:
                              type: string
                        emote_type:
                          type: string
                        emote_set_id:
                          type: string
                        owner_id:
                          type: string
                        format:
                          type: array
                          items:
                            type: string
                        scale:
                          type: array
                          items:
                            type: string
                        theme_mode:
                          type: array
                          items:
                            type: string
                  template:
                    type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: emote_set_id
          in: query
          schema:
            type: string
  /chat/badges:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Chat Badges
      description: Gets a list of custom chat badges that can be used in chat for the
        specified channel.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        set_id:
                          type: string
                        versions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              image_url_1x:
                                type: string
                              image_url_2x:
                                type: string
                              image_url_4x:
                                type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /chat/badges/global:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Global Chat Badges
      description: Gets a list of chat badges that can be used in chat for any channel.
      tags:
        - Chat
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/settings:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Chat Settings
      description: NEW Gets the broadcaster’s chat settings.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                        slow_mode:
                          type: boolean
                        slow_mode_wait_time:
                          type: string
                        follower_mode:
                          type: boolean
                        follower_mode_duration:
                          type: number
                        subscriber_mode:
                          type: boolean
                        emote_mode:
                          type: boolean
                        unique_chat_mode:
                          type: boolean
                        non_moderator_chat_delay:
                          type: boolean
                        non_moderator_chat_delay_duration:
                          type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    patch:
      summary: Update Chat Settings
      description: NEW Updates the broadcaster’s chat settings.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                        moderator_id:
                          type: string
                        slow_mode:
                          type: boolean
                        slow_mode_wait_time:
                          type: number
                        follower_mode:
                          type: boolean
                        follower_mode_duration:
                          type: string
                        subscriber_mode:
                          type: boolean
                        emote_mode:
                          type: boolean
                        unique_chat_mode:
                          type: boolean
                        non_moderator_chat_delay:
                          type: boolean
                        non_moderator_chat_delay_duration:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /clips:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Create Clip
      description: Creates a clip programmatically. This returns both an ID and an
        edit URL for the new clip.
      tags:
        - Clips
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        edit_url:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    get:
      summary: Get Clips
      description: Gets clip information by clip ID (one or more), broadcaster ID (one
        only), or game ID (one only).
      tags:
        - Clips
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        url:
                          type: string
                        embed_url:
                          type: string
                        broadcaster_id:
                          type: string
                        broadcaster_name:
                          type: string
                        creator_id:
                          type: string
                        creator_name:
                          type: string
                        video_id:
                          type: string
                        game_id:
                          type: string
                        language:
                          type: string
                        title:
                          type: string
                        view_count:
                          type: number
                        created_at:
                          type: string
                        thumbnail_url:
                          type: string
                        duration:
                          type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: game_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
  /entitlements/codes:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Code Status
      description: Gets the status of one or more provided codes. This API requires
        that the caller is an authenticated Twitch user. The API is throttled to
        one request per second per authenticated user.
      tags:
        - Entitlements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        status:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
    post:
      summary: Redeem Code
      description: Redeems one or more redemption codes.
      tags:
        - Entitlements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        status:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
  /entitlements/drops:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Drops Entitlements
      description: Gets a list of entitlements for a given organization that have been
        granted to a game, user, or both.
      tags:
        - Entitlements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        benefit_id:
                          type: string
                        timestamp:
                          type: string
                        user_id:
                          type: string
                        game_id:
                          type: string
                        fulfillment_status:
                          type: string
                        updated_at:
                          type: string
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
        - name: game_id
          in: query
          schema:
            type: string
        - name: fulfillment_status
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: integer
    patch:
      summary: Update Drops Entitlements
      description: Updates the fulfillment status on a set of Drops entitlements,
        specified by their entitlement IDs.
      tags:
        - Entitlements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        ids:
                          type: array
                          items:
                            type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: entitlement_ids
          in: query
          schema:
            type: string
        - name: fulfillment_status
          in: query
          schema:
            type: string
  /extensions/configurations:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Configuration Segment
      description: NEW Gets the specified configuration segment from the specified
        extension.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        segment:
                          type: string
                        content:
                          type: string
                        version:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: extension_id
          in: query
          schema:
            type: string
        - name: segment
          in: query
          schema:
            type: string
    put:
      summary: Set Extension Configuration Segment
      description: NEW Sets a single configuration segment of any type. The segment
        type is specified as a body parameter.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/required_configuration:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    put:
      summary: Set Extension Required Configuration
      description: NEW Enable activation of a specified Extension, after any required
        broadcaster configuration is correct.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /extensions/pubsub:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Send Extension PubSub Message
      description: NEW Forward a message using the same mechanism as the send
        JavaScript helper function.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/live:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Live Channels
      description: NEW Returns one page of live channels that have installed or
        activated a specific Extension.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                        broadcaster_name:
                          type: string
                        game_name:
                          type: string
                        game_id:
                          type: string
                        title:
                          type: string
                  pagination:
                    type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
  /extensions/jwt/secrets:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Secrets
      description: NEW Retrieves a specified Extension’s secret data consisting of a
        version and an array of secret objects.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        format_version:
                          type: number
                        secrets:
                          type: array
                          items:
                            type: object
                            properties:
                              content:
                                type: string
                              active_at:
                                type: string
                              expires_at:
                                type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    post:
      summary: Create Extension Secret
      description: NEW Creates a JWT signing secret for a specific Extension
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        format_version:
                          type: number
                        secrets:
                          type: array
                          items:
                            type: object
                            properties:
                              content:
                                type: string
                              active_at:
                                type: string
                              expires_at:
                                type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: delay
          in: query
          schema:
            type: integer
  /extensions/chat:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Send Extension Chat Message
      description: NEW Sends a specified chat message to a specified channel.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extensions
      description: NEW Gets information about your Extensions; either the current
        version or a specified version.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        author_name:
                          type: string
                        bits_enabled:
                          type: boolean
                        can_install:
                          type: boolean
                        configuration_location:
                          type: string
                        description:
                          type: string
                        eula_tos_url:
                          type: string
                        has_chat_support:
                          type: boolean
                        icon_url:
                          type: string
                        icon_urls:
                          type: object
                          properties:
                            100x100:
                              type: string
                            24x24:
                              type: string
                            300x200:
                              type: string
                        id:
                          type: string
                        name:
                          type: string
                        privacy_policy_url:
                          type: string
                        request_identity_link:
                          type: boolean
                        screenshot_urls:
                          type: array
                          items:
                            type: string
                        state:
                          type: string
                        subscriptions_support_level:
                          type: string
                        summary:
                          type: string
                        support_email:
                          type: string
                        version:
                          type: string
                        viewer_summary:
                          type: string
                        views:
                          type: object
                          properties:
                            mobile:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                            panel:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                height:
                                  type: number
                                can_link_external_content:
                                  type: boolean
                            video_overlay:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                can_link_external_content:
                                  type: boolean
                            component:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                aspect_width:
                                  type: number
                                aspect_height:
                                  type: number
                                aspect_ratio_x:
                                  type: number
                                aspect_ratio_y:
                                  type: number
                                autoscale:
                                  type: boolean
                                scale_pixels:
                                  type: number
                                target_height:
                                  type: number
                                size:
                                  type: number
                                zoom:
                                  type: boolean
                                zoom_pixels:
                                  type: number
                                can_link_external_content:
                                  type: boolean
                        allowlisted_config_urls:
                          type: array
                          items:
                            type: string
                        allowlisted_panel_urls:
                          type: array
                          items:
                            type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
  /extensions/released:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Released Extensions
      description: NEW Gets information about a released Extension; either the current
        version or a specified version.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        author_name:
                          type: string
                        bits_enabled:
                          type: boolean
                        can_install:
                          type: boolean
                        configuration_location:
                          type: string
                        description:
                          type: string
                        eula_tos_url:
                          type: string
                        has_chat_support:
                          type: boolean
                        icon_url:
                          type: string
                        icon_urls:
                          type: object
                          properties:
                            100x100:
                              type: string
                            24x24:
                              type: string
                            300x200:
                              type: string
                        id:
                          type: string
                        name:
                          type: string
                        privacy_policy_url:
                          type: string
                        request_identity_link:
                          type: boolean
                        screenshot_urls:
                          type: array
                          items:
                            type: string
                        state:
                          type: string
                        subscriptions_support_level:
                          type: string
                        summary:
                          type: string
                        support_email:
                          type: string
                        version:
                          type: string
                        viewer_summary:
                          type: string
                        views:
                          type: object
                          properties:
                            mobile:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                            panel:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                height:
                                  type: number
                                can_link_external_content:
                                  type: boolean
                            video_overlay:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                can_link_external_content:
                                  type: boolean
                            component:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                aspect_width:
                                  type: number
                                aspect_height:
                                  type: number
                                aspect_ratio_x:
                                  type: number
                                aspect_ratio_y:
                                  type: number
                                autoscale:
                                  type: boolean
                                scale_pixels:
                                  type: number
                                target_height:
                                  type: number
                                size:
                                  type: number
                                zoom:
                                  type: boolean
                                zoom_pixels:
                                  type: number
                                can_link_external_content:
                                  type: boolean
                        allowlisted_config_urls:
                          type: array
                          items:
                            type: string
                        allowlisted_panel_urls:
                          type: array
                          items:
                            type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
  /bits/extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Bits Products
      description: NEW Gets a list of Bits products that belongs to an Extension.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                        cost:
                          type: object
                          properties:
                            amount:
                              type: number
                            type:
                              type: string
                        in_development:
                          type: boolean
                        display_name:
                          type: string
                        expiration:
                          type: string
                        is_broadcast:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: should_include_all
          in: query
          schema:
            type: boolean
    put:
      summary: Update Extension Bits Product
      description: NEW Add or update a Bits products that belongs to an Extension.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                        cost:
                          type: object
                          properties:
                            amount:
                              type: number
                            type:
                              type: string
                        in_development:
                          type: boolean
                        display_name:
                          type: string
                        expiration:
                          type: string
                        is_broadcast:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /eventsub/subscriptions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Create EventSub Subscription
      description: Creates an EventSub subscription.
      tags:
        - EventSub
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                        type:
                          type: string
                        version:
                          type: string
                        condition:
                          type: object
                          properties:
                            user_id:
                              type: string
                        created_at:
                          type: string
                        transport:
                          type: object
                          properties:
                            method:
                              type: string
                            callback:
                              type: string
                        cost:
                          type: number
                  total:
                    type: number
                  total_cost:
                    type: number
                  max_total_cost:
                    type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: type
          in: query
          schema:
            type: string
        - name: version
          in: query
          schema:
            type: string
        - name: condition
          in: query
          schema:
            type: string
        - name: transport
          in: query
          schema:
            type: string
    delete:
      summary: Delete EventSub Subscription
      description: Deletes an EventSub subscription.
      tags:
        - EventSub
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
    get:
      summary: Get EventSub Subscriptions
      description: Gets a list of your EventSub subscriptions. The list is paginated
        and ordered by the oldest subscription first.
      tags:
        - EventSub
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                        type:
                          type: string
                        version:
                          type: string
                        condition:
                          type: object
                          properties:
                            broadcaster_user_id:
                              type: string
                        created_at:
                          type: string
                        transport:
                          type: object
                          properties:
                            method:
                              type: string
                            callback:
                              type: string
                        cost:
                          type: number
                  total_cost:
                    type: number
                  max_total_cost:
                    type: number
                  pagination:
                    type: object
                    properties: {}
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /games/top:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Top Games
      description: Gets games sorted by number of current viewers on Twitch, most
        popular first.
      tags:
        - Games
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        box_art_url:
                          type: string
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: after
          in: query
          schema:
            type: string
        - name: before
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: integer
  /games:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Games
      description: Gets game information by game ID or name.
      tags:
        - Games
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        box_art_url:
                          type: string
                        id:
                          type: string
                        name:
                          type: string
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: name
          in: query
          schema:
            type: string
  /goals:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Creator Goals
      description: NEW Gets the broadcaster’s list of active goals.
      tags:
        - Goals
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        broadcaster_id:
                          type: string
                        broadcaster_name:
                          type: string
                        broadcaster_login:
                          type: string
                        type:
                          type: string
                        description:
                          type: string
                        current_amount:
                          type: number
                        target_amount:
                          type: number
                        created_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /hypetrain/events:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Hype Train Events
      description: Gets the information of the most recent Hype Train of the given
        channel ID.
      tags:
        - Hype Train
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        event_type:
                          type: string
                        event_timestamp:
                          type: string
                        version:
                          type: string
                        event_data:
                          type: object
                          properties:
                            broadcaster_id:
                              type: string
                            cooldown_end_time:
                              type: string
                            expires_at:
                              type: string
                            goal:
                              type: number
                            id:
                              type: string
                            last_contribution:
                              type: object
                              properties:
                                total:
                                  type: number
                                type:
                                  type: string
                                user:
                                  type: string
                            level:
                              type: number
                            started_at:
                              type: string
                            top_contributions:
                              type: array
                              items:
                                type: object
                                properties:
                                  total:
                                    type: number
                                  type:
                                    type: string
                                  user:
                                    type: string
                            total:
                              type: number
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /moderation/enforcements/status:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Check AutoMod Status
      description: Determines whether a string message meets the channel’s AutoMod
        requirements.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        msg_id:
                          type: string
                        is_permitted:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /moderation/automod/message:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Manage Held AutoMod Messages
      description: Allow or deny a message that was held for review by AutoMod.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/automod/settings:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get AutoMod Settings
      description: NEW Gets the broadcaster’s AutoMod settings.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                        moderator_id:
                          type: string
                        overall_level:
                          type: string
                        disability:
                          type: number
                        aggression:
                          type: number
                        sexuality_sex_or_gender:
                          type: number
                        misogyny:
                          type: number
                        bullying:
                          type: number
                        swearing:
                          type: number
                        race_ethnicity_or_religion:
                          type: number
                        sex_based_terms:
                          type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    put:
      summary: Update AutoMod Settings
      description: NEW Updates the broadcaster’s AutoMod settings.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                        moderator_id:
                          type: string
                        overall_level:
                          type: number
                        disability:
                          type: number
                        aggression:
                          type: number
                        sexuality_sex_or_gender:
                          type: number
                        misogyny:
                          type: number
                        bullying:
                          type: number
                        swearing:
                          type: number
                        race_ethnicity_or_religion:
                          type: number
                        sex_based_terms:
                          type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/banned/events:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Banned Events
      description: Returns all user ban and un-ban events for a channel.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        event_type:
                          type: string
                        event_timestamp:
                          type: string
                        version:
                          type: string
                        event_data:
                          type: object
                          properties:
                            broadcaster_id:
                              type: string
                            broadcaster_login:
                              type: string
                            broadcaster_name:
                              type: string
                            user_id:
                              type: string
                            user_login:
                              type: string
                            user_name:
                              type: string
                            expires_at:
                              type: string
                            reason:
                              type: string
                            moderator_id:
                              type: string
                            moderator_login:
                              type: string
                            moderator_name:
                              type: string
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /moderation/banned:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Banned Users
      description: Returns all banned and timed-out users for a channel.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        user_login:
                          type: string
                        user_name:
                          type: string
                        expires_at:
                          type: string
                        reason:
                          type: string
                        moderator_id:
                          type: string
                        moderator_login:
                          type: string
                        moderator_name:
                          type: string
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /moderation/bans:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Ban User
      description: NEW Bans a user from participating in a broadcaster’s chat room, or
        puts them in a timeout.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                        moderator_id:
                          type: string
                        user_id:
                          type: string
                        end_time:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    delete:
      summary: Unban User
      description: NEW Removes the ban or timeout that was placed on the specified user.
      tags:
        - Moderation
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/blocked_terms:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Blocked Terms
      description: NEW Gets the broadcaster’s list of non-private, blocked words or phrases.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    post:
      summary: Add Blocked Term
      description: NEW Adds a word or phrase to the broadcaster’s list of blocked terms.
      tags:
        - Moderation
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                        moderator_id:
                          type: string
                        id:
                          type: string
                        text:
                          type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
[...]
