openapi: 3.0.0
servers:
  - url: https://api.twitch.tv/helix
    description: Production API
externalDocs:
  description: Official documentation
  url: https://dev.twitch.tv/docs/api/
info:
  title: Twitch Helix API
  description: The Twitch API is a RESTful API that lets developers build creative
    integrations for the broader Twitch community. THIS DOCUMENTATION IS NEITHER
    MAINTAINED BY OR AFFILIATED WITH TWITCH
  termsOfService: https://www.twitch.tv/p/en/legal/developer-agreement/
  contact:
    name: TwitchDev
    url: https://dev.twitch.tv/support/
    email: developers@twitch.tv
  version: 2024‑03‑07
paths:
  /channels/commercial:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Start Commercial
      description: Starts a commercial on the specified channel.
      tags:
        - Ads
      security:
        - oauth:
            - channel:edit:commercial
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        length:
                          type: number
                          example: 60
                        message:
                          type: string
                        retry_after:
                          type: number
                          example: 480
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /channels/ads:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Ad Schedule
      description: Returns ad schedule related information.
      tags:
        - Ads
      security:
        - oauth:
            - channel:read:ads
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /channels/ads/schedule/snooze:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Snooze Next Ad
      description: Pushes back the timestamp of the upcoming automatic mid-roll ad by
        5 minutes.
      tags:
        - Ads
      security:
        - oauth:
            - channel:manage:ads
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /analytics/extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Analytics
      description: Gets an analytics report for one or more extensions.
      tags:
        - Analytics
      security:
        - oauth:
            - analytics:read:extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        extension_id:
                          type: string
                          example: efgh
                        URL:
                          type: string
                          example: https://twitch-piper-reports.s3-us-west-2.amazonaws.com/dynamic/LoL%20ADC...
                        type:
                          type: string
                          example: overview_v2
                        date_range:
                          type: object
                          properties:
                            started_at:
                              type: string
                              example: 2018-03-01T00:00:00Z
                            ended_at:
                              type: string
                              example: 2018-06-01T00:00:00Z
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
        - name: started_at
          in: query
          schema:
            type: string
        - name: ended_at
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /analytics/games:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Game Analytics
      description: Gets an analytics report for one or more games.
      tags:
        - Analytics
      security:
        - oauth:
            - analytics:read:games
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        game_id:
                          type: string
                          example: "493057"
                        URL:
                          type: string
                          example: https://twitch-piper-reports.s3-us-west-2.amazonaws.com/games/66170/overview/15183...
                        type:
                          type: string
                          example: overview_v2
                        date_range:
                          type: object
                          properties:
                            started_at:
                              type: string
                              example: 2018-01-01T00:00:00Z
                            ended_at:
                              type: string
                              example: 2018-03-01T00:00:00Z
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: game_id
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
        - name: started_at
          in: query
          schema:
            type: string
        - name: ended_at
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /bits/leaderboard:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Bits Leaderboard
      description: Gets the Bits leaderboard for the authenticated broadcaster.
      tags:
        - Bits
      security:
        - oauth:
            - bits:read
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                          example: "158010205"
                        user_login:
                          type: string
                          example: tundracowboy
                        user_name:
                          type: string
                          example: TundraCowboy
                        rank:
                          type: number
                          example: 1
                        score:
                          type: number
                          example: 12543
                  date_range:
                    type: object
                    properties:
                      started_at:
                        type: string
                        example: 2018-02-05T08:00:00Z
                      ended_at:
                        type: string
                        example: 2018-02-12T08:00:00Z
                  total:
                    type: number
                    example: 2
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: count
          in: query
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
        - name: started_at
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
  /bits/cheermotes:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Cheermotes
      description: Gets a list of Cheermotes that users can use to cheer Bits.
      tags:
        - Bits
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        prefix:
                          type: string
                          example: Cheer
                        tiers:
                          type: array
                          items:
                            type: object
                            properties:
                              min_bits:
                                type: number
                                example: 1
                              id:
                                type: string
                                example: "1"
                              color:
                                type: string
                                example: "#979797"
                              images:
                                type: object
                                properties:
                                  dark:
                                    type: object
                                    properties:
                                      animated:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/1.gif
                                          "2":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/2.gif
                                          "3":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/3.gif
                                          "4":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/4.gif
                                          "1.5":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/1.5.gif
                                      static:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/1.png
                                          "2":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/2.png
                                          "3":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/3.png
                                          "4":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/4.png
                                          "1.5":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/1.5.png
                                  light:
                                    type: object
                                    properties:
                                      animated:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/1.gif
                                          "2":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/2.gif
                                          "3":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/3.gif
                                          "4":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/4.gif
                                          "1.5":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/1.5.gif
                                      static:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/1.png
                                          "2":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/2.png
                                          "3":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/3.png
                                          "4":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/4.png
                                          "1.5":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/1.5.png
                              can_cheer:
                                type: boolean
                                example: true
                              show_in_bits_card:
                                type: boolean
                                example: true
                        type:
                          type: string
                          example: global_first_party
                        order:
                          type: number
                          example: 1
                        last_updated:
                          type: string
                          example: 2018-05-22T00:06:04Z
                        is_charitable:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /extensions/transactions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Transactions
      description: Gets an extension’s list of transactions.
      tags:
        - Bits
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 74c52265-e214-48a6-91b9-23b6014e8041
                        timestamp:
                          type: string
                          example: 2019-01-28T04:15:53.325Z
                        broadcaster_id:
                          type: string
                          example: "439964613"
                        broadcaster_login:
                          type: string
                          example: chikuseuma
                        broadcaster_name:
                          type: string
                          example: chikuseuma
                        user_id:
                          type: string
                          example: "424596340"
                        user_login:
                          type: string
                          example: quotrok
                        user_name:
                          type: string
                          example: quotrok
                        product_type:
                          type: string
                          example: BITS_IN_EXTENSION
                        product_data:
                          type: object
                          properties:
                            domain:
                              type: string
                              example: twitch.ext.uo6dggojyb8d6soh92zknwmi5ej1q2
                            sku:
                              type: string
                              example: testSku100
                            cost:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  example: 100
                                type:
                                  type: string
                                  example: bits
                            inDevelopment:
                              type: boolean
                            displayName:
                              type: string
                              example: Test Product 100
                            expiration:
                              type: string
                            broadcast:
                              type: boolean
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: cursorString
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /channels:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Information
      description: Gets information about one or more channels.
      tags:
        - Channels
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                          example: "141981764"
                        broadcaster_login:
                          type: string
                          example: twitchdev
                        broadcaster_name:
                          type: string
                          example: TwitchDev
                        broadcaster_language:
                          type: string
                          example: en
                        game_id:
                          type: string
                          example: "509670"
                        game_name:
                          type: string
                          example: Science & Technology
                        title:
                          type: string
                          example: TwitchDev Monthly Update // May 6, 2021
                        delay:
                          type: number
                        tags:
                          type: array
                          items:
                            type: string
                            example: DevsInTheKnow
                        content_classification_labels:
                          type: array
                          items:
                            type: string
                            example: Gambling
                        is_branded_content:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    patch:
      summary: Modify Channel Information
      description: Updates a channel’s properties.
      tags:
        - Channels
      security:
        - oauth:
            - channel:manage:broadcast
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /channels/editors:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Editors
      description: Gets the broadcaster’s list editors.
      tags:
        - Channels
      security:
        - oauth:
            - channel:read:editors
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                          example: "182891647"
                        user_name:
                          type: string
                          example: mauerbac
                        created_at:
                          type: string
                          example: 2019-02-15T21:19:50.380833Z
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /channels/followed:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Followed Channels
      description: Gets a list of broadcasters that the specified user follows. You
        can also use this endpoint to see whether a user follows a specific
        broadcaster.
      tags:
        - Channels
      security:
        - oauth:
            - user:read:follows
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /channels/followers:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Followers
      description: Gets a list of users that follow the specified broadcaster. You can
        also use this endpoint to see whether a specific user follows the
        broadcaster.
      tags:
        - Channels
      security:
        - oauth:
            - moderator:read:followers
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /channel_points/custom_rewards:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Create Custom Rewards
      description: Creates a Custom Reward in the broadcaster’s channel.
      tags:
        - Channel Points
      security:
        - oauth:
            - channel:manage:redemptions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: afaa7e34-6b17-49f0-a19a-d1e76eaaf673
                        image:
                          type: string
                        background_color:
                          type: string
                          example: "#00E5CB"
                        is_enabled:
                          type: boolean
                          example: true
                        cost:
                          type: number
                          example: 50000
                        title:
                          type: string
                          example: game analysis 1v1
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_stream:
                              type: number
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                          example: true
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-1.png
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-2.png
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-4.png
                        should_redemptions_skip_request_queue:
                          type: boolean
                        redemptions_redeemed_current_stream:
                          type: string
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    delete:
      summary: Delete Custom Reward
      description: Deletes a custom reward that the broadcaster created.
      tags:
        - Channel Points
      security:
        - oauth:
            - channel:manage:redemptions
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
    get:
      summary: Get Custom Reward
      description: Gets a list of custom rewards that the specified broadcaster created.
      tags:
        - Channel Points
      security:
        - oauth:
            - channel:read:redemptions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: 92af127c-7326-4483-a52b-b0da0be61c01
                        image:
                          type: string
                        background_color:
                          type: string
                          example: "#00E5CB"
                        is_enabled:
                          type: boolean
                          example: true
                        cost:
                          type: number
                          example: 50000
                        title:
                          type: string
                          example: game analysis
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_stream:
                              type: number
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                          example: true
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-1.png
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-2.png
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-4.png
                        should_redemptions_skip_request_queue:
                          type: boolean
                        redemptions_redeemed_current_stream:
                          type: string
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
        - name: only_manageable_rewards
          in: query
          schema:
            type: string
    patch:
      summary: Update Custom Reward
      description: Updates a custom reward.
      tags:
        - Channel Points
      security:
        - oauth:
            - channel:manage:redemptions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: 92af127c-7326-4483-a52b-b0da0be61c01
                        image:
                          type: string
                        background_color:
                          type: string
                          example: "#00E5CB"
                        is_enabled:
                          type: boolean
                        cost:
                          type: number
                          example: 30000
                        title:
                          type: string
                          example: game analysis 2v2
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                              example: true
                            max_per_stream:
                              type: number
                              example: 60
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-1.png
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-2.png
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-4.png
                        should_redemptions_skip_request_queue:
                          type: boolean
                          example: true
                        redemptions_redeemed_current_stream:
                          type: number
                          example: 60
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
  /channel_points/custom_rewards/redemptions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Custom Reward Redemption
      description: Gets a list of redemptions for a custom reward.
      tags:
        - Channel Points
      security:
        - oauth:
            - channel:read:redemptions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: 17fa2df1-ad76-4804-bfa5-a40ef63efe63
                        user_login:
                          type: string
                          example: torpedo09
                        user_id:
                          type: string
                          example: "274637212"
                        user_name:
                          type: string
                          example: torpedo09
                        user_input:
                          type: string
                        status:
                          type: string
                          example: CANCELED
                        redeemed_at:
                          type: string
                          example: 2020-07-01T18:37:32Z
                        reward:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 92af127c-7326-4483-a52b-b0da0be61c01
                            title:
                              type: string
                              example: game analysis
                            prompt:
                              type: string
                            cost:
                              type: number
                              example: 50000
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudWxsLCJhIjp7IkN1cnNvciI6Ik1UZG1ZVEprWmpFdFlXUTNOaTAwT0RBMExXSm1ZVFV0WVRRd1pXWTJNMlZtWlRZelgxOHlNREl3TFRBM0xUQXhWREU0T2pNM09qTXlMakl6TXpFeU56RTFOMW89In19
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: reward_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
    patch:
      summary: Update Redemption Status
      description: Updates a redemption’s status.
      tags:
        - Channel Points
      security:
        - oauth:
            - channel:manage:redemptions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: 17fa2df1-ad76-4804-bfa5-a40ef63efe63
                        user_id:
                          type: string
                          example: "274637212"
                        user_name:
                          type: string
                          example: torpedo09
                        user_login:
                          type: string
                          example: torpedo09
                        user_input:
                          type: string
                        status:
                          type: string
                          example: CANCELED
                        redeemed_at:
                          type: string
                          example: 2020-07-01T18:37:32Z
                        reward:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 92af127c-7326-4483-a52b-b0da0be61c01
                            title:
                              type: string
                              example: game analysis
                            prompt:
                              type: string
                            cost:
                              type: number
                              example: 50000
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: reward_id
          in: query
          schema:
            type: string
  /charity/campaigns:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Charity Campaign
      description: Gets information about the broadcaster’s active charity campaign.
      tags:
        - Charity
      security:
        - oauth:
            - channel:read:charity
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 123-abc-456-def
                        broadcaster_id:
                          type: string
                          example: "123456"
                        broadcaster_name:
                          type: string
                          example: SunnySideUp
                        broadcaster_login:
                          type: string
                          example: sunnysideup
                        charity_name:
                          type: string
                          example: Example name
                        charity_description:
                          type: string
                          example: Example description
                        charity_logo:
                          type: string
                          example: https://abc.cloudfront.net/ppgf/1000/100.png
                        charity_website:
                          type: string
                          example: https://www.example.com
                        current_amount:
                          type: object
                          properties:
                            value:
                              type: number
                              example: 86000
                            decimal_places:
                              type: number
                              example: 2
                            currency:
                              type: string
                              example: USD
                        target_amount:
                          type: object
                          properties:
                            value:
                              type: number
                              example: 1500000
                            decimal_places:
                              type: number
                              example: 2
                            currency:
                              type: string
                              example: USD
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /charity/donations:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Charity Campaign Donations
      description: Gets the list of donations that users have made to the
        broadcaster’s active charity campaign.
      tags:
        - Charity
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: a1b2c3-aabb-4455-d1e2f3
                        campaign_id:
                          type: string
                          example: 123-abc-456-def
                        user_id:
                          type: string
                          example: "5678"
                        user_login:
                          type: string
                          example: cool_user
                        user_name:
                          type: string
                          example: Cool_User
                        amount:
                          type: object
                          properties:
                            value:
                              type: number
                              example: 500
                            decimal_places:
                              type: number
                              example: 2
                            currency:
                              type: string
                              example: USD
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /chat/chatters:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Chatters
      description: Gets the list of users that are connected to the broadcaster’s chat
        session.
      tags:
        - Chat
      security:
        - oauth:
            - moderator:read:chatters
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                          example: "128393656"
                        user_login:
                          type: string
                          example: smittysmithers
                        user_name:
                          type: string
                          example: smittysmithers
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19
                  total:
                    type: number
                    example: 8
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: moderator_id
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /chat/emotes:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Emotes
      description: Gets the broadcaster’s list of custom emotes.
      tags:
        - Chat
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "304456832"
                        name:
                          type: string
                          example: twitchdevPitchfork
                        images:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/1.0
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/2.0
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/3.0
                        tier:
                          type: string
                          example: "1000"
                        emote_type:
                          type: string
                          example: subscriptions
                        emote_set_id:
                          type: string
                          example: "301590448"
                        format:
                          type: array
                          items:
                            type: string
                            example: static
                        scale:
                          type: array
                          items:
                            type: string
                            example: "1.0"
                        theme_mode:
                          type: array
                          items:
                            type: string
                            example: light
                  template:
                    type: string
                    example: https://static-cdn.jtvnw.net/emoticons/v2/{{id}}/{{format}}/{{theme_mode}}/{{scale}}
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /chat/emotes/global:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Global Emotes
      description: Gets all global emotes.
      tags:
        - Chat
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "196892"
                        name:
                          type: string
                          example: TwitchUnity
                        images:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/196892/static/light/1.0
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/196892/static/light/2.0
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/196892/static/light/3.0
                        format:
                          type: array
                          items:
                            type: string
                            example: static
                        scale:
                          type: array
                          items:
                            type: string
                            example: "1.0"
                        theme_mode:
                          type: array
                          items:
                            type: string
                            example: light
                  template:
                    type: string
                    example: https://static-cdn.jtvnw.net/emoticons/v2/{{id}}/{{format}}/{{theme_mode}}/{{scale}}
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/emotes/set:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Emote Sets
      description: Gets emotes for one or more specified emote sets.
      tags:
        - Chat
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "304456832"
                        name:
                          type: string
                          example: twitchdevPitchfork
                        images:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/1.0
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/2.0
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/3.0
                        emote_type:
                          type: string
                          example: subscriptions
                        emote_set_id:
                          type: string
                          example: "301590448"
                        owner_id:
                          type: string
                          example: "141981764"
                        format:
                          type: array
                          items:
                            type: string
                            example: static
                        scale:
                          type: array
                          items:
                            type: string
                            example: "1.0"
                        theme_mode:
                          type: array
                          items:
                            type: string
                            example: light
                  template:
                    type: string
                    example: https://static-cdn.jtvnw.net/emoticons/v2/{{id}}/{{format}}/{{theme_mode}}/{{scale}}
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: emote_set_id
          in: query
          schema:
            type: string
  /chat/badges:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Chat Badges
      description: Gets the broadcaster’s list of custom chat badges.
      tags:
        - Chat
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        set_id:
                          type: string
                          example: bits
                        versions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: "1"
                              image_url_1x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/743a0f3b-84b3-450b-96a0-503d7f4a9764/1
                              image_url_2x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/743a0f3b-84b3-450b-96a0-503d7f4a9764/2
                              image_url_4x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/743a0f3b-84b3-450b-96a0-503d7f4a9764/3
                              title:
                                type: string
                                example: cheer 1
                              description:
                                type: string
                                example: cheer 1
                              click_action:
                                type: string
                                example: visit_url
                              click_url:
                                type: string
                                example: https://bits.twitch.tv
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /chat/badges/global:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Global Chat Badges
      description: Gets Twitch’s list of chat badges.
      tags:
        - Chat
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        set_id:
                          type: string
                          example: vip
                        versions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: "1"
                              image_url_1x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/1
                              image_url_2x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/2
                              image_url_4x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/3
                              title:
                                type: string
                                example: VIP
                              description:
                                type: string
                                example: VIP
                              click_action:
                                type: string
                                example: visit_url
                              click_url:
                                type: string
                                example: https://help.twitch.tv/customer/en/portal/articles/659115-twitch-chat-badges-guide
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/settings:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Chat Settings
      description: Gets the broadcaster’s chat settings.
      tags:
        - Chat
      security:
        - oauth:
            - moderator:read:chat_settings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                          example: "713936733"
                        slow_mode:
                          type: boolean
                        slow_mode_wait_time:
                          type: string
                        follower_mode:
                          type: boolean
                          example: true
                        follower_mode_duration:
                          type: number
                        subscriber_mode:
                          type: boolean
                        emote_mode:
                          type: boolean
                        unique_chat_mode:
                          type: boolean
                        non_moderator_chat_delay:
                          type: boolean
                          example: true
                        non_moderator_chat_delay_duration:
                          type: number
                          example: 4
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: moderator_id
          in: query
          schema:
            type: string
    patch:
      summary: Update Chat Settings
      description: Updates the broadcaster’s chat settings.
      tags:
        - Chat
      security:
        - oauth:
            - moderator:manage:chat_settings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                          example: "1234"
                        moderator_id:
                          type: string
                          example: "5678"
                        slow_mode:
                          type: boolean
                          example: true
                        slow_mode_wait_time:
                          type: number
                          example: 10
                        follower_mode:
                          type: boolean
                        follower_mode_duration:
                          type: string
                        subscriber_mode:
                          type: boolean
                        emote_mode:
                          type: boolean
                        unique_chat_mode:
                          type: boolean
                        non_moderator_chat_delay:
                          type: boolean
                        non_moderator_chat_delay_duration:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: moderator_id
          in: query
          schema:
            type: string
  /chat/emotes/user:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get User Emotes
      description: BETA Retrieves emotes available to the user across all channels.
      tags:
        - Chat
      security:
        - oauth:
            - user:read:emotes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        emote_set_id:
                          type: string
                        emote_type:
                          type: string
                          example: hypetrain
                        format:
                          type: array
                          items:
                            type: string
                            example: static
                        id:
                          type: string
                          example: "304420818"
                        name:
                          type: string
                          example: HypeLol
                        owner_id:
                          type: string
                          example: "477339272"
                        scale:
                          type: array
                          items:
                            type: string
                            example: "1.0"
                        theme_mode:
                          type: array
                          items:
                            type: string
                            example: light
                  template:
                    type: string
                    example: https://static-cdn.jtvnw.net/emoticons/v2/{{id}}/{{format}}/{{theme_mode}}/{{scale}}
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudWxsLJxhIjoiIn0gf5
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
  /chat/announcements:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Send Chat Announcement
      description: Sends an announcement to the broadcaster’s chat room.
      tags:
        - Chat
      security:
        - oauth:
            - moderator:manage:announcements
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: moderator_id
          in: query
          schema:
            type: string
  /chat/shoutouts:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Send a Shoutout
      description: Sends a Shoutout to the specified broadcaster.
      tags:
        - Chat
      security:
        - oauth:
            - moderator:manage:shoutouts
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: from_broadcaster_id
          in: query
          schema:
            type: string
        - name: to_broadcaster_id
          in: query
          schema:
            type: string
        - name: moderator_id
          in: query
          schema:
            type: string
  /chat/messages:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Send Chat Message
      description: NEW Sends a message to the broadcaster’s chat room.
      tags:
        - Chat
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        message_id:
                          type: string
                          example: abc-123-def
                        is_sent:
                          type: boolean
                          example: true
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/color:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get User Chat Color
      description: Gets the color used for the user’s name in chat.
      tags:
        - Chat
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                          example: "11111"
                        user_name:
                          type: string
                          example: SpeedySpeedster1
                        user_login:
                          type: string
                          example: speedyspeedster1
                        color:
                          type: string
                          example: "#9146FF"
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
    put:
      summary: Update User Chat Color
      description: Updates the color used for the user’s name in chat.
      tags:
        - Chat
      security:
        - oauth:
            - user:manage:chat_color
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: user_id
          in: query
          schema:
            type: string
        - name: color
          in: query
          schema:
            type: string
  /clips:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Create Clip
      description: Creates a clip from the broadcaster’s stream.
      tags:
        - Clips
      security:
        - oauth:
            - clips:edit
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: FiveWordsForClipSlug
                        edit_url:
                          type: string
                          example: http://clips.twitch.tv/FiveWordsForClipSlug/edit
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: has_delay
          in: query
          schema:
            type: string
    get:
      summary: Get Clips
      description: Gets one or more video clips.
      tags:
        - Clips
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: AwkwardHelplessSalamanderSwiftRage
                        url:
                          type: string
                          example: https://clips.twitch.tv/AwkwardHelplessSalamanderSwiftRage
                        embed_url:
                          type: string
                          example: https://clips.twitch.tv/embed?clip=AwkwardHelplessSalamanderSwiftRage
                        broadcaster_id:
                          type: string
                          example: "67955580"
                        broadcaster_name:
                          type: string
                          example: ChewieMelodies
                        creator_id:
                          type: string
                          example: "53834192"
                        creator_name:
                          type: string
                          example: BlackNova03
                        video_id:
                          type: string
                          example: "205586603"
                        game_id:
                          type: string
                          example: "488191"
                        language:
                          type: string
                          example: en
                        title:
                          type: string
                          example: babymetal
                        view_count:
                          type: number
                          example: 10
                        created_at:
                          type: string
                          example: 2017-11-30T22:34:18Z
                        thumbnail_url:
                          type: string
                          example: https://clips-media-assets.twitch.tv/157589949-preview-480x272.jpg
                        duration:
                          type: number
                          example: 60
                        vod_offset:
                          type: number
                          example: 480
                        is_featured:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: game_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
        - name: started_at
          in: query
          schema:
            type: string
        - name: ended_at
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
        - name: before
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
        - name: is_featured
          in: query
          schema:
            type: string
  /eventsub/conduits:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Conduits
      description: NEW Gets the conduits for a client ID.
      tags:
        - Conduits
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 26b1c993-bfcf-44d9-b876-379dacafe75a
                        shard_count:
                          type: number
                          example: 15
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    post:
      summary: Create Conduits
      description: NEW Creates a new conduit.
      tags:
        - Conduits
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: bfcfc993-26b1-b876-44d9-afe75a379dac
                        shard_count:
                          type: number
                          example: 5
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    patch:
      summary: Update Conduits
      description: NEW Updates a conduit’s shard count.
      tags:
        - Conduits
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: bfcfc993-26b1-b876-44d9-afe75a379dac
                        shard_count:
                          type: number
                          example: 5
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    delete:
      summary: Delete Conduit
      description: NEW Deletes a specified conduit.
      tags:
        - Conduits
      security:
        - oauth: []
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
  /eventsub/conduits/shards:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Conduit Shards
      description: NEW Gets a lists of all shards for a conduit.
      tags:
        - Conduits
      security:
        - oauth: []
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: conduit_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
    patch:
      summary: Update Conduit Shards
      description: NEW Updates shard(s) for a conduit.
      tags:
        - Conduits
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "0"
                        status:
                          type: string
                          example: enabled
                        transport:
                          type: object
                          properties:
                            method:
                              type: string
                              example: webhook
                            callback:
                              type: string
                              example: https://this-is-a-callback.com
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "3"
                        message:
                          type: string
                          example: The shard id is outside the conduit's range
                        code:
                          type: string
                          example: invalid_parameter
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /content_classification_labels:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Content Classification Labels
      description: Gets information about Twitch content classification labels.
      tags:
        - CCLs
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: DrugsIntoxication
                        description:
                          type: string
                          example: Excessive tobacco glorification or promotion, any marijuana
                            consumption/use, legal drug and alcohol induced
                            intoxication, discussions of illegal drugs.
                        name:
                          type: string
                          example: Drugs, Intoxication, or Excessive Tobacco Use
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: locale
          in: query
          schema:
            type: string
  /entitlements/drops:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Drops Entitlements
      description: Gets an organization’s list of entitlements that have been granted
        to a game, a user, or both.
      tags:
        - Entitlements
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: fb78259e-fb81-4d1b-8333-34a06ffc24c0
                        benefit_id:
                          type: string
                          example: 74c52265-e214-48a6-91b9-23b6014e8041
                        timestamp:
                          type: string
                          example: 2019-01-28T04:17:53.325Z
                        user_id:
                          type: string
                          example: "25009227"
                        game_id:
                          type: string
                          example: "33214"
                        fulfillment_status:
                          type: string
                          example: CLAIMED
                        last_updated:
                          type: string
                          example: 2019-01-28T04:17:53.325Z
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudW...
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
        - name: game_id
          in: query
          schema:
            type: string
        - name: fulfillment_status
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: string
    patch:
      summary: Update Drops Entitlements
      description: Updates the Drop entitlement’s fulfillment status.
      tags:
        - Entitlements
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: SUCCESS
                        ids:
                          type: array
                          items:
                            type: string
                            example: fb78259e-fb81-4d1b-8333-34a06ffc24c0
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/configurations:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Configuration Segment
      description: Gets the specified configuration segment from the specified extension.
      tags:
        - Extensions
      security:
        - oauth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        segment:
                          type: string
                          example: global
                        content:
[...]
