swagger: "2.0"
host: api.twitch.tv
basePath: /helix
schemes:
  - https
externalDocs:
  description: Official documentation
  url: https://dev.twitch.tv/docs/api/
info:
  title: Twitch Helix API
  description: The Twitch API is a RESTful API that lets developers build creative
    integrations for the broader Twitch community.
  termsOfService: https://www.twitch.tv/p/en/legal/developer-agreement/
  contact:
    name: TwitchDev
    url: https://dev.twitch.tv/support/
    email: developers@twitch.tv
  version: 2022‑01‑06
paths:
  /channels/commercial:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
      - name: length
        in: query
        type: integer
    post:
      summary: /channels/commercial
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /analytics/extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: after
        in: query
        type: string
      - name: ended_at
        in: query
        type: string
      - name: extension_id
        in: query
        type: string
      - name: first
        in: query
        type: integer
      - name: started_at
        in: query
        type: string
      - name: type
        in: query
        type: string
    get:
      summary: /analytics/extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /analytics/games:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: after
        in: query
        type: string
      - name: ended_at
        in: query
        type: string
      - name: first
        in: query
        type: integer
      - name: game_id
        in: query
        type: string
      - name: started_at
        in: query
        type: string
      - name: type
        in: query
        type: string
    get:
      summary: /analytics/games
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /bits/leaderboard:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: count
        in: query
        type: integer
      - name: period
        in: query
        type: string
      - name: started_at
        in: query
        type: string
      - name: user_id
        in: query
        type: string
    get:
      summary: /bits/leaderboard
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /bits/cheermotes:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /bits/cheermotes
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/transactions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: extension_id
        in: query
        type: string
    get:
      summary: /extensions/transactions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /channels:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    patch:
      summary: /channels
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /channels/editors:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /channels/editors
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /channel_points/custom_rewards:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
      - name: id
        in: query
        type: string
    patch:
      summary: /channel_points/custom_rewards
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /channel_points/custom_rewards/redemptions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: id
        in: query
        type: string
      - name: broadcaster_id
        in: query
        type: string
      - name: reward_id
        in: query
        type: string
    patch:
      summary: /channel_points/custom_rewards/redemptions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/emotes:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /chat/emotes
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/emotes/global:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    get:
      summary: /chat/emotes/global
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/emotes/set:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: emote_set_id
        in: query
        type: string
    get:
      summary: /chat/emotes/set
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/badges:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /chat/badges
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/badges/global:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    get:
      summary: /chat/badges/global
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/settings:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    patch:
      summary: /chat/settings
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /clips:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
      - name: game_id
        in: query
        type: string
      - name: id
        in: query
        type: string
    get:
      summary: /clips
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /entitlements/codes:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: code
        in: query
        type: string
      - name: user_id
        in: query
        type: string
    post:
      summary: /entitlements/codes
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /entitlements/drops:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: entitlement_ids
        in: query
        type: string
      - name: fulfillment_status
        in: query
        type: string
    patch:
      summary: /entitlements/drops
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/configurations:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    put:
      summary: /extensions/configurations
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/required_configuration:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    put:
      summary: /extensions/required_configuration
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/pubsub:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    post:
      summary: /extensions/pubsub
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/live:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: extension_id
        in: query
        type: string
    get:
      summary: /extensions/live
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/jwt/secrets:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: delay
        in: query
        type: integer
    post:
      summary: /extensions/jwt/secrets
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/chat:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    post:
      summary: /extensions/chat
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: extension_id
        in: query
        type: string
    get:
      summary: /extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/released:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: extension_id
        in: query
        type: string
    get:
      summary: /extensions/released
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /bits/extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    put:
      summary: /bits/extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /eventsub/subscriptions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: status
        in: query
        type: string
      - name: type
        in: query
        type: string
      - name: after
        in: query
        type: string
    get:
      summary: /eventsub/subscriptions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /games/top:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: after
        in: query
        type: string
      - name: before
        in: query
        type: string
      - name: first
        in: query
        type: integer
    get:
      summary: /games/top
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /games:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: id
        in: query
        type: string
      - name: name
        in: query
        type: string
    get:
      summary: /games
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /goals:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /goals
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /hypetrain/events:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /hypetrain/events
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/enforcements/status:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    post:
      summary: /moderation/enforcements/status
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/automod/message:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    post:
      summary: /moderation/automod/message
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/automod/settings:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    put:
      summary: /moderation/automod/settings
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/banned/events:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /moderation/banned/events
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/banned:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /moderation/banned
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/bans:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    delete:
      summary: /moderation/bans
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/blocked_terms:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    delete:
      summary: /moderation/blocked_terms
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/moderators:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /moderation/moderators
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /moderation/moderators/events:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /moderation/moderators/events
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /polls:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    patch:
      summary: /polls
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /predictions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    patch:
      summary: /predictions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /schedule:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /schedule
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /schedule/icalendar:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /schedule/icalendar
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /schedule/settings:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    patch:
      summary: /schedule/settings
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /schedule/segment:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
      - name: id
        in: query
        type: string
    delete:
      summary: /schedule/segment
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /search/categories :
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: query
        in: query
        type: string
    get:
      summary: /search/categories 
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /search/channels:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: query
        in: query
        type: string
    get:
      summary: /search/channels
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /soundtrack/current_track:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    get:
      summary: /soundtrack/current_track
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /soundtrack/playlist:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    get:
      summary: /soundtrack/playlist
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /soundtrack/playlists:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    get:
      summary: /soundtrack/playlists
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /streams/key:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /streams/key
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /streams:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: after
        in: query
        type: string
      - name: before
        in: query
        type: string
      - name: first
        in: query
        type: integer
      - name: game_id
        in: query
        type: string
      - name: language
        in: query
        type: string
      - name: user_id
        in: query
        type: string
      - name: user_login
        in: query
        type: string
    get:
      summary: /streams
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /streams/followed:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: user_id
        in: query
        type: string
    get:
      summary: /streams/followed
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /streams/markers:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: user_id
        in: query
        type: string
      - name: video_id
        in: query
        type: string
    get:
      summary: /streams/markers
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /subscriptions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /subscriptions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /subscriptions/user:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
      - name: user_id
        in: query
        type: string
    get:
      summary: /subscriptions/user
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /tags/streams:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: after
        in: query
        type: string
      - name: first
        in: query
        type: integer
      - name: tag_id
        in: query
        type: string
    get:
      summary: /tags/streams
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /streams/tags:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    put:
      summary: /streams/tags
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /teams/channel:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: broadcaster_id
        in: query
        type: string
    get:
      summary: /teams/channel
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /teams:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: name
        in: query
        type: string
      - name: id
        in: query
        type: string
    get:
      summary: /teams
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /users:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    put:
      summary: /users
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /users/follows:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: after
        in: query
        type: string
      - name: first
        in: query
        type: integer
      - name: from_id
        in: query
        type: string
      - name: to_id
        in: query
        type: string
    get:
      summary: /users/follows
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /users/blocks:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: target_user_id
        in: query
        type: string
    delete:
      summary: /users/blocks
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /users/extensions/list:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: can_activate
        in: query
        type: boolean
      - name: id
        in: query
        type: string
      - name: name
        in: query
        type: string
      - name: type
        in: query
        type: string
      - name: version
        in: query
        type: string
    get:
      summary: /users/extensions/list
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /users/extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
    put:
      summary: /users/extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /videos:
    parameters:
      - in: header
        name: client_id
        required: true
        type: string
      - name: id
        in: query
        type: string
    delete:
      summary: /videos
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
