openapi: 3.0.0
servers:
  - url: https://api.twitch.tv/helix
    description: Production API
externalDocs:
  description: Official documentation
  url: https://dev.twitch.tv/docs/api/
info:
  title: Twitch Helix API
  description: The Twitch API is a RESTful API that lets developers build creative
    integrations for the broader Twitch community. THIS DOCUMENTATION IS NEITHER
    MAINTAINED BY OR AFFILIATED WITH TWITCH
  termsOfService: https://www.twitch.tv/p/en/legal/developer-agreement/
  contact:
    name: TwitchDev
    url: https://dev.twitch.tv/support/
    email: developers@twitch.tv
  version: 2022‑02‑25
paths:
  /channels/commercial:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Start Commercial
      description: Starts a commercial on a specified channel.
      tags:
        - Ads
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        length:
                          type: number
                          example: 60
                        message:
                          type: string
                        retry_after:
                          type: number
                          example: 480
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: length
          in: query
          schema:
            type: integer
  /analytics/extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Analytics
      description: Gets a URL that Extension developers can use to download analytics
        reports (CSV files) for their Extensions. The URL is valid for 5
        minutes. For details about analytics and the fields returned, see the
        Insights & Analytics guide.
      tags:
        - Analytics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        extension_id:
                          type: string
                          example: efgh
                        URL:
                          type: string
                          example: https://twitch-piper-reports.s3-us-west-2.amazonaws.com/dynamic/LoL%20ADC_overview_v2_2018-03-01_2018-06-01_8a879932-8e70-7a4c-2b97-e0eaba28c3b0.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAI7LOPgTrAIVYE6KQ%2F20180731%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180731T202847Z&X-Amz-Expires=60&X-Amz-Security-Token=FQoDYXdzEDMaDObdwyOVISdo6feHSSK3A9R9gMFeS5frG5Dsr4k4tJemqCIazhsQJrpsehBoOufaQkCxrb8RD3oU0xC5pWrZe9kN%2BnezIoLOgTtFRAqTzdIr7J5iUOxGFyKN9XmrmUHGexFfALvoPQWUJNbxoFU6shajSmO3sPK2GnuEaGmIrAqjKrim8saLHDV%2FdSi2ZH3fFx6sBQEGv13Lx0zua7AsvaL%2BSfhIAcOazWjYLMU5N9bxXmaN7IAIF4UjNPqbg07RMWW70hm0edH0RPi%2Fw00faeeSvmreHq6c1C1Lu8a7AysMb0pEGBT7VxmuGmWsXyjLWZ6oNgbx88HXoMJpmAn5Y1hUu7VzOaa84T%2BmCF5Sbn7hbB1xIiPdzaVQ%2Bd85sy4ln09h7dgKh6GFE1VTas2v7RJU1lyD%2FZ%2FWKBwV5Ol8GEGrF1pme8mSBpPGUAJ4vxjLmrGL7ctty%2F0vXke3PyD%2B4%2FtHZ67xaw0y8EKrau23Xvt3blkcDNoQYOfcS%2FqbaK%2BHpyVq4bIBtQq%2BHYU5MuFkgEuwSe5zPDle1ysKSN11B6B6Sy7Httrq542OONS%2BfURkczMbKSPEShddN32Y9VUqKYdUo%2FsWVQQoy7uC2wU%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3Bfilename%3D%22WoW%20Armory_overview_v1_2018-04-30_2018-06-01.csv%22&X-Amz-Signature=eb7721e40cbfd1d7409887dae3792cdb2add025ace953a63ba8e3545b92ae058
                        type:
                          type: string
                          example: overview_v2
                        date_range:
                          type: object
                          properties:
                            started_at:
                              type: string
                              example: 2018-03-01T00:00:00Z
                            ended_at:
                              type: string
                              example: 2018-06-01T00:00:00Z
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: after
          in: query
          schema:
            type: string
        - name: ended_at
          in: query
          schema:
            type: string
        - name: extension_id
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: integer
        - name: started_at
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
  /analytics/games:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Game Analytics
      description: Gets a URL that game developers can use to download analytics
        reports (CSV files) for their games. The URL is valid for 5 minutes.
      tags:
        - Analytics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        game_id:
                          type: string
                          example: "493057"
                        URL:
                          type: string
                          example: https://twitch-piper-reports.s3-us-west-2.amazonaws.com/games/66170/overview/1518307200000.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAJP7WFIAF26K7BC2Q%2F20180222%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20180222T220651Z&X-Amz-Expires=60&X-Amz-Security-Token=FQoDYXdzEE0aDLKNl9aCgfuikMKI%2ByK3A4e%2FR%2B4to%2BmRZFUuslNKs%2FOxKeySB%2BAU87PBtNGCxQaQuN2Q8KI4Vg%2Bve2x5eenZdoH0ZM7uviM94sf2GlbE9Z0%2FoJRmNGNhlU3Ua%2FupzvByCoMdefrU8Ziiz4j8EJCgg0M1j2aF9f8bTC%2BRYwcpP0kjaZooJS6RFY1TTkh659KBA%2By%2BICdpVK0fxOlrQ%2FfZ6vIYVFzvywBM05EGWX%2F3flCIW%2BuZ9ZxMAvxcY4C77cOLQ0OvY5g%2F7tuuGSO6nvm9Eb8MeMEzSYPr4emr3zIjxx%2Fu0li9wjcF4qKvdmnyk2Bnd2mepX5z%2BVejtIGBzfpk%2Fe%2FMqpMrcONynKoL6BNxxDL4ITo5yvVzs1x7OumONHcsvrTQsd6aGNQ0E3lrWxcujBAmXmx8n7Qnk4pZnHZLgcBQam1fIGba65Gf5Ern71TwfRUsolxnyIXyHsKhd2jSmXSju8jH3iohjv99a2vGaxSg8SBCrQZ06Bi0pr%2FTiSC52U1g%2BlhXYttdJB4GUdOvaxR8n6PwMS7HuAtDJUui8GKWK%2F9t4OON3qhF2cBt%2BnV%2BDg8bDMZkQ%2FAt5blvIlg6rrlCu0cYko4ojb281AU%3D&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3Bfilename%3DWarframe-overview-2018-02-11.csv&X-Amz-Signature=49cc07cbd9d753b00315b66f49b9e4788570062ff3bd956288ab4f164cf96708
                        type:
                          type: string
                          example: overview_v2
                        date_range:
                          type: object
                          properties:
                            started_at:
                              type: string
                              example: 2018-01-01T00:00:00Z
                            ended_at:
                              type: string
                              example: 2018-03-01T00:00:00Z
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: after
          in: query
          schema:
            type: string
        - name: ended_at
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: integer
        - name: game_id
          in: query
          schema:
            type: string
        - name: started_at
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
  /bits/leaderboard:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Bits Leaderboard
      description: Gets a ranked list of Bits leaderboard information for an
        authorized broadcaster.
      tags:
        - Bits
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                          example: "158010205"
                        user_login:
                          type: string
                          example: tundracowboy
                        user_name:
                          type: string
                          example: TundraCowboy
                        rank:
                          type: number
                          example: 1
                        score:
                          type: number
                          example: 12543
                  date_range:
                    type: object
                    properties:
                      started_at:
                        type: string
                        example: 2018-02-05T08:00:00Z
                      ended_at:
                        type: string
                        example: 2018-02-12T08:00:00Z
                  total:
                    type: number
                    example: 2
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: count
          in: query
          schema:
            type: integer
        - name: period
          in: query
          schema:
            type: string
        - name: started_at
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
  /bits/cheermotes:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Cheermotes
      description: Retrieves the list of available Cheermotes, animated emotes to
        which viewers can assign Bits, to cheer in chat. Cheermotes returned are
        available throughout Twitch, in all Bits-enabled channels.
      tags:
        - Bits
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        prefix:
                          type: string
                          example: Cheer
                        tiers:
                          type: array
                          items:
                            type: object
                            properties:
                              min_bits:
                                type: number
                                example: 1
                              id:
                                type: string
                                example: "1"
                              color:
                                type: string
                                example: "#979797"
                              images:
                                type: object
                                properties:
                                  dark:
                                    type: object
                                    properties:
                                      animated:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/1.gif
                                          "2":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/2.gif
                                          "3":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/3.gif
                                          "4":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/4.gif
                                          "1.5":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/1.5.gif
                                      static:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/1.png
                                          "2":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/2.png
                                          "3":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/3.png
                                          "4":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/4.png
                                          "1.5":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/1.5.png
                                  light:
                                    type: object
                                    properties:
                                      animated:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/1.gif
                                          "2":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/2.gif
                                          "3":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/3.gif
                                          "4":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/4.gif
                                          "1.5":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/1.5.gif
                                      static:
                                        type: object
                                        properties:
                                          "1":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/1.png
                                          "2":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/2.png
                                          "3":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/3.png
                                          "4":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/4.png
                                          "1.5":
                                            type: string
                                            example: https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/1.5.png
                              can_cheer:
                                type: boolean
                                example: true
                              show_in_bits_card:
                                type: boolean
                                example: true
                        type:
                          type: string
                          example: global_first_party
                        order:
                          type: number
                          example: 1
                        last_updated:
                          type: string
                          example: 2018-05-22T00:06:04Z
                        is_charitable:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /extensions/transactions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Transactions
      description: Gets the list of Extension transactions for a given Extension. This
        allows Extension back-end servers to fetch a list of transactions that
        have occurred for their Extension across all of Twitch.
      tags:
        - Bits
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
  /channels:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Information
      description: Gets channel information for users.
      tags:
        - Channels
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                          example: "141981764"
                        broadcaster_login:
                          type: string
                          example: twitchdev
                        broadcaster_name:
                          type: string
                          example: TwitchDev
                        broadcaster_language:
                          type: string
                          example: en
                        game_id:
                          type: string
                          example: "509670"
                        game_name:
                          type: string
                          example: Science & Technology
                        title:
                          type: string
                          example: TwitchDev Monthly Update // May 6, 2021
                        delay:
                          type: number
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    patch:
      summary: Modify Channel Information
      description: Modifies channel information for users.
      tags:
        - Channels
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /channels/editors:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Editors
      description: Gets a list of users who have editor permissions for a specific channel.
      tags:
        - Channels
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                          example: "182891647"
                        user_name:
                          type: string
                          example: mauerbac
                        created_at:
                          type: string
                          example: 2019-02-15T21:19:50.380833Z
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /channel_points/custom_rewards:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Create Custom Rewards
      description: |-
        Creates a Custom Reward on a channel.

         
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: afaa7e34-6b17-49f0-a19a-d1e76eaaf673
                        image:
                          type: string
                        background_color:
                          type: string
                          example: "#00E5CB"
                        is_enabled:
                          type: boolean
                          example: true
                        cost:
                          type: number
                          example: 50000
                        title:
                          type: string
                          example: game analysis 1v1
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_stream:
                              type: number
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                          example: true
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-1.png
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-2.png
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-4.png
                        should_redemptions_skip_request_queue:
                          type: boolean
                        redemptions_redeemed_current_stream:
                          type: string
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    delete:
      summary: Delete Custom Reward
      description: Deletes a Custom Reward on a channel.
      tags:
        - Channel Points
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
    get:
      summary: Get Custom Reward
      description: Returns a list of Custom Reward objects for the Custom Rewards on a
        channel.
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: 92af127c-7326-4483-a52b-b0da0be61c01
                        image:
                          type: string
                        background_color:
                          type: string
                          example: "#00E5CB"
                        is_enabled:
                          type: boolean
                          example: true
                        cost:
                          type: number
                          example: 50000
                        title:
                          type: string
                          example: game analysis
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_stream:
                              type: number
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                          example: true
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-1.png
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-2.png
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-4.png
                        should_redemptions_skip_request_queue:
                          type: boolean
                        redemptions_redeemed_current_stream:
                          type: string
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    patch:
      summary: Update Custom Reward
      description: Updates a Custom Reward created on a channel.
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: 92af127c-7326-4483-a52b-b0da0be61c01
                        image:
                          type: string
                        background_color:
                          type: string
                          example: "#00E5CB"
                        is_enabled:
                          type: boolean
                        cost:
                          type: number
                          example: 30000
                        title:
                          type: string
                          example: game analysis 2v2
                        prompt:
                          type: string
                        is_user_input_required:
                          type: boolean
                        max_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                              example: true
                            max_per_stream:
                              type: number
                              example: 60
                        max_per_user_per_stream_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            max_per_user_per_stream:
                              type: number
                        global_cooldown_setting:
                          type: object
                          properties:
                            is_enabled:
                              type: boolean
                            global_cooldown_seconds:
                              type: number
                        is_paused:
                          type: boolean
                        is_in_stock:
                          type: boolean
                        default_image:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-1.png
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-2.png
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/custom-reward-images/default-4.png
                        should_redemptions_skip_request_queue:
                          type: boolean
                          example: true
                        redemptions_redeemed_current_stream:
                          type: number
                          example: 60
                        cooldown_expires_at:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
  /channel_points/custom_rewards/redemptions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Custom Reward Redemption
      description: Returns Custom Reward Redemption objects for a Custom Reward on a
        channel that was created by the same client_id. 
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: 17fa2df1-ad76-4804-bfa5-a40ef63efe63
                        user_login:
                          type: string
                          example: torpedo09
                        user_id:
                          type: string
                          example: "274637212"
                        user_name:
                          type: string
                          example: torpedo09
                        user_input:
                          type: string
                        status:
                          type: string
                          example: CANCELED
                        redeemed_at:
                          type: string
                          example: 2020-07-01T18:37:32Z
                        reward:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 92af127c-7326-4483-a52b-b0da0be61c01
                            title:
                              type: string
                              example: game analysis
                            prompt:
                              type: string
                            cost:
                              type: number
                              example: 50000
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudWxsLCJhIjp7IkN1cnNvciI6Ik1UZG1ZVEprWmpFdFlXUTNOaTAwT0RBMExXSm1ZVFV0WVRRd1pXWTJNMlZtWlRZelgxOHlNREl3TFRBM0xUQXhWREU0T2pNM09qTXlMakl6TXpFeU56RTFOMW89In19
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: reward_id
          in: query
          schema:
            type: string
    patch:
      summary: Update Redemption Status
      description: Updates the status of Custom Reward Redemption objects on a channel
        that are in the UNFULFILLED status.
      tags:
        - Channel Points
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_name:
                          type: string
                          example: torpedo09
                        broadcaster_login:
                          type: string
                          example: torpedo09
                        broadcaster_id:
                          type: string
                          example: "274637212"
                        id:
                          type: string
                          example: 17fa2df1-ad76-4804-bfa5-a40ef63efe63
                        user_id:
                          type: string
                          example: "274637212"
                        user_name:
                          type: string
                          example: torpedo09
                        user_login:
                          type: string
                          example: torpedo09
                        user_input:
                          type: string
                        status:
                          type: string
                          example: CANCELED
                        redeemed_at:
                          type: string
                          example: 2020-07-01T18:37:32Z
                        reward:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 92af127c-7326-4483-a52b-b0da0be61c01
                            title:
                              type: string
                              example: game analysis
                            prompt:
                              type: string
                            cost:
                              type: number
                              example: 50000
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: reward_id
          in: query
          schema:
            type: string
  /chat/emotes:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Emotes
      description: Gets all emotes that the specified Twitch channel created. For
        example, subscriber emotes, follower emotes, and Bits tier emotes.
      tags:
        - Chat
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /chat/emotes/global:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Global Emotes
      description: Gets all global emotes. Global emotes are Twitch-specific emoticons
        that every user can use in Twitch chat.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "196892"
                        name:
                          type: string
                          example: TwitchUnity
                        images:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/196892/static/light/1.0
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/196892/static/light/2.0
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/196892/static/light/3.0
                        format:
                          type: array
                          items:
                            type: string
                            example: static
                        scale:
                          type: array
                          items:
                            type: string
                            example: "1.0"
                        theme_mode:
                          type: array
                          items:
                            type: string
                            example: light
                  template:
                    type: string
                    example: https://static-cdn.jtvnw.net/emoticons/v2/{{id}}/{{format}}/{{theme_mode}}/{{scale}}
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/emotes/set:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Emote Sets
      description: Gets emotes for one or more specified emote sets.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "304456832"
                        name:
                          type: string
                          example: twitchdevPitchfork
                        images:
                          type: object
                          properties:
                            url_1x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/1.0
                            url_2x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/2.0
                            url_4x:
                              type: string
                              example: https://static-cdn.jtvnw.net/emoticons/v2/304456832/static/light/3.0
                        emote_type:
                          type: string
                          example: subscriptions
                        emote_set_id:
                          type: string
                          example: "301590448"
                        owner_id:
                          type: string
                          example: "141981764"
                        format:
                          type: array
                          items:
                            type: string
                            example: static
                        scale:
                          type: array
                          items:
                            type: string
                            example: "1.0"
                        theme_mode:
                          type: array
                          items:
                            type: string
                            example: light
                  template:
                    type: string
                    example: https://static-cdn.jtvnw.net/emoticons/v2/{{id}}/{{format}}/{{theme_mode}}/{{scale}}
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: emote_set_id
          in: query
          schema:
            type: string
  /chat/badges:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Channel Chat Badges
      description: Gets a list of custom chat badges that can be used in chat for the
        specified channel.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        set_id:
                          type: string
                          example: bits
                        versions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: "1"
                              image_url_1x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/743a0f3b-84b3-450b-96a0-503d7f4a9764/1
                              image_url_2x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/743a0f3b-84b3-450b-96a0-503d7f4a9764/2
                              image_url_4x:
                                type: string
                                example: https://static-cdn.jtvnw.net/badges/v1/743a0f3b-84b3-450b-96a0-503d7f4a9764/3
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /chat/badges/global:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Global Chat Badges
      description: Gets a list of chat badges that can be used in chat for any channel.
      tags:
        - Chat
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /chat/settings:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Chat Settings
      description: NEW Gets the broadcaster’s chat settings.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                          example: "713936733"
                        slow_mode:
                          type: boolean
                        slow_mode_wait_time:
                          type: string
                        follower_mode:
                          type: boolean
                          example: true
                        follower_mode_duration:
                          type: number
                        subscriber_mode:
                          type: boolean
                        emote_mode:
                          type: boolean
                        unique_chat_mode:
                          type: boolean
                        non_moderator_chat_delay:
                          type: boolean
                          example: true
                        non_moderator_chat_delay_duration:
                          type: number
                          example: 4
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    patch:
      summary: Update Chat Settings
      description: NEW Updates the broadcaster’s chat settings.
      tags:
        - Chat
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                          example: "1234"
                        moderator_id:
                          type: string
                          example: "5678"
                        slow_mode:
                          type: boolean
                          example: true
                        slow_mode_wait_time:
                          type: number
                          example: 10
                        follower_mode:
                          type: boolean
                        follower_mode_duration:
                          type: string
                        subscriber_mode:
                          type: boolean
                        emote_mode:
                          type: boolean
                        unique_chat_mode:
                          type: boolean
                        non_moderator_chat_delay:
                          type: boolean
                        non_moderator_chat_delay_duration:
                          type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /clips:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Create Clip
      description: Creates a clip programmatically. This returns both an ID and an
        edit URL for the new clip.
      tags:
        - Clips
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: FiveWordsForClipSlug
                        edit_url:
                          type: string
                          example: http://clips.twitch.tv/FiveWordsForClipSlug/edit
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
    get:
      summary: Get Clips
      description: Gets clip information by clip ID (one or more), broadcaster ID (one
        only), or game ID (one only).
      tags:
        - Clips
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: AwkwardHelplessSalamanderSwiftRage
                        url:
                          type: string
                          example: https://clips.twitch.tv/AwkwardHelplessSalamanderSwiftRage
                        embed_url:
                          type: string
                          example: https://clips.twitch.tv/embed?clip=AwkwardHelplessSalamanderSwiftRage
                        broadcaster_id:
                          type: string
                          example: "67955580"
                        broadcaster_name:
                          type: string
                          example: ChewieMelodies
                        creator_id:
                          type: string
                          example: "53834192"
                        creator_name:
                          type: string
                          example: BlackNova03
                        video_id:
                          type: string
                          example: "205586603"
                        game_id:
                          type: string
                          example: "488191"
                        language:
                          type: string
                          example: en
                        title:
                          type: string
                          example: babymetal
                        view_count:
                          type: number
                          example: 10
                        created_at:
                          type: string
                          example: 2017-11-30T22:34:18Z
                        thumbnail_url:
                          type: string
                          example: https://clips-media-assets.twitch.tv/157589949-preview-480x272.jpg
                        duration:
                          type: number
                          example: 60
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: game_id
          in: query
          schema:
            type: string
        - name: id
          in: query
          schema:
            type: string
  /entitlements/codes:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Code Status
      description: Gets the status of one or more provided codes. This API requires
        that the caller is an authenticated Twitch user. The API is throttled to
        one request per second per authenticated user.
      tags:
        - Entitlements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: KUHXV-4GXYP-AKAKK
                        status:
                          type: string
                          example: UNUSED
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
    post:
      summary: Redeem Code
      description: Redeems one or more redemption codes.
      tags:
        - Entitlements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 8CD5P-V3J92-2S6JY
                        status:
                          type: string
                          example: SUCCESSFULLY_REDEEMED
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
  /entitlements/drops:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Drops Entitlements
      description: Gets a list of entitlements for a given organization that have been
        granted to a game, user, or both.
      tags:
        - Entitlements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: fb78259e-fb81-4d1b-8333-34a06ffc24c0
                        benefit_id:
                          type: string
                          example: 74c52265-e214-48a6-91b9-23b6014e8041
                        timestamp:
                          type: string
                          example: 2019-01-28T04:17:53.325Z
                        user_id:
                          type: string
                          example: "25009227"
                        game_id:
                          type: string
                          example: "33214"
                        fulfillment_status:
                          type: string
                          example: CLAIMED
                        updated_at:
                          type: string
                          example: 2019-01-28T04:17:53.325Z
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: string
                        example: eyJiIjpudW...
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: user_id
          in: query
          schema:
            type: string
        - name: game_id
          in: query
          schema:
            type: string
        - name: fulfillment_status
          in: query
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
        - name: first
          in: query
          schema:
            type: integer
    patch:
      summary: Update Drops Entitlements
      description: Updates the fulfillment status on a set of Drops entitlements,
        specified by their entitlement IDs.
      tags:
        - Entitlements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: SUCCESS
                        ids:
                          type: array
                          items:
                            type: string
                            example: fb78259e-fb81-4d1b-8333-34a06ffc24c0
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: entitlement_ids
          in: query
          schema:
            type: string
        - name: fulfillment_status
          in: query
          schema:
            type: string
  /extensions/configurations:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Configuration Segment
      description: NEW Gets the specified configuration segment from the specified
        extension.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        segment:
                          type: string
                          example: global
                        content:
                          type: string
                          example: hello config!
                        version:
                          type: string
                          example: 0.0.1
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
        - name: extension_id
          in: query
          schema:
            type: string
        - name: segment
          in: query
          schema:
            type: string
    put:
      summary: Set Extension Configuration Segment
      description: NEW Sets a single configuration segment of any type. The segment
        type is specified as a body parameter.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/required_configuration:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    put:
      summary: Set Extension Required Configuration
      description: NEW Enable activation of a specified Extension, after any required
        broadcaster configuration is correct.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /extensions/pubsub:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Send Extension PubSub Message
      description: NEW Forward a message using the same mechanism as the send
        JavaScript helper function.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /extensions/live:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Live Channels
      description: NEW Returns one page of live channels that have installed or
        activated a specific Extension.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        broadcaster_id:
                          type: string
                          example: "252766116"
                        broadcaster_name:
                          type: string
                          example: swoosh_xii
                        game_name:
                          type: string
                          example: Tom Clancy's Rainbow Six Siege
                        game_id:
                          type: string
                          example: "460630"
                        title:
                          type: string
                          example: "[PS4] ITA/ENG UNRANKED CHILLIN' (SUB 1/15) - !instagram !donation
                            !sens !team !youtube"
                  pagination:
                    type: string
                    example: YVc1emRHRnNiQ015TmpJek5qazVOVHBoYWpKbGRIZDFaR0Z5YjNCMGN6UTJNMkZ1TUdwM2FHWnBZbm8yYW5rNjoy
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
  /extensions/jwt/secrets:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Secrets
      description: NEW Retrieves a specified Extension’s secret data consisting of a
        version and an array of secret objects.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        format_version:
                          type: number
                          example: 1
                        secrets:
                          type: array
                          items:
                            type: object
                            properties:
                              content:
                                type: string
                                example: secret
                              active_at:
                                type: string
                                example: 2021-03-29T06:58:40.858343036Z
                              expires_at:
                                type: string
                                example: 2121-03-05T06:58:40.858343036Z
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
    post:
      summary: Create Extension Secret
      description: NEW Creates a JWT signing secret for a specific Extension
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        format_version:
                          type: number
                          example: 1
                        secrets:
                          type: array
                          items:
                            type: object
                            properties:
                              content:
                                type: string
                                example: old-secret
                              active_at:
                                type: string
                                example: 2021-03-29T06:58:40.858343036Z
                              expires_at:
                                type: string
                                example: 2021-04-22T05:21:54.99261682Z
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: delay
          in: query
          schema:
            type: integer
  /extensions/chat:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Send Extension Chat Message
      description: NEW Sends a specified chat message to a specified channel.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: broadcaster_id
          in: query
          schema:
            type: string
  /extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extensions
      description: NEW Gets information about your Extensions; either the current
        version or a specified version.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        author_name:
                          type: string
                          example: Twitch Developers
                        bits_enabled:
                          type: boolean
                          example: true
                        can_install:
                          type: boolean
                        configuration_location:
                          type: string
                          example: hosted
                        description:
                          type: string
                          example: An extension for testing all the features that we add to extensions
                        eula_tos_url:
                          type: string
                        has_chat_support:
                          type: boolean
                          example: true
                        icon_url:
                          type: string
                          example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/logob6c995d8-8b45-48cc-a748-b256e92ac1cd
                        icon_urls:
                          type: object
                          properties:
                            100x100:
                              type: string
                              example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/logob6c995d8-8b45-48cc-a748-b256e92ac1cd
                            24x24:
                              type: string
                              example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/taskbar905b19da-e7e5-4d8f-beb7-f543a861ac1e
                            300x200:
                              type: string
                              example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/discoveryd9545b2c-5474-46d7-a523-1c3835d862ce
                        id:
                          type: string
                          example: pgn0bjv51epi7eaekt53tovjnc82qo
                        name:
                          type: string
                          example: Official Developers Demo
                        privacy_policy_url:
                          type: string
                        request_identity_link:
                          type: boolean
                          example: true
                        screenshot_urls:
                          type: array
                          items:
                            type: string
                            example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/screenshotbdec475d-3d2f-4378-b334-941dfddc897a
                        state:
                          type: string
                          example: Released
                        subscriptions_support_level:
                          type: string
                          example: optional
                        summary:
                          type: string
                          example: Test ALL the extensions features!
                        support_email:
                          type: string
                          example: dx-extensions-test-dev@justin.tv
                        version:
                          type: string
                          example: 0.0.9
                        viewer_summary:
                          type: string
                          example: Test ALL the extensions features!
                        views:
                          type: object
                          properties:
                            mobile:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                  example: https://pgn0bjv51epi7eaekt53tovjnc82qo.ext-twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.9/f9a0d8aae0f9dd0b2d6ef3416b96bc79/index.html
                            panel:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                  example: https://pgn0bjv51epi7eaekt53tovjnc82qo.ext-twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.9/f9a0d8aae0f9dd0b2d6ef3416b96bc79/index.html
                                height:
                                  type: number
                                  example: 300
                                can_link_external_content:
                                  type: boolean
                            video_overlay:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                  example: https://pgn0bjv51epi7eaekt53tovjnc82qo.ext-twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.9/f9a0d8aae0f9dd0b2d6ef3416b96bc79/index.html
                                can_link_external_content:
                                  type: boolean
                            component:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                  example: https://pgn0bjv51epi7eaekt53tovjnc82qo.ext-twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.9/f9a0d8aae0f9dd0b2d6ef3416b96bc79/index.html
                                aspect_width:
                                  type: number
                                aspect_height:
                                  type: number
                                aspect_ratio_x:
                                  type: number
                                  example: 48000
                                aspect_ratio_y:
                                  type: number
                                  example: 36000
                                autoscale:
                                  type: boolean
                                  example: true
                                scale_pixels:
                                  type: number
                                  example: 1024
                                target_height:
                                  type: number
                                  example: 5333
                                size:
                                  type: number
                                zoom:
                                  type: boolean
                                zoom_pixels:
                                  type: number
                                can_link_external_content:
                                  type: boolean
                        allowlisted_config_urls:
                          type: array
                          items:
                            type: string
                        allowlisted_panel_urls:
                          type: array
                          items:
                            type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
  /extensions/released:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Released Extensions
      description: NEW Gets information about a released Extension; either the current
        version or a specified version.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        author_name:
                          type: string
                          example: Twitch Developer Experience
                        bits_enabled:
                          type: boolean
                          example: true
                        can_install:
                          type: boolean
                        configuration_location:
                          type: string
                          example: hosted
                        description:
                          type: string
                          example: An extension for testing all the features that we add to extensions
                        eula_tos_url:
                          type: string
                        has_chat_support:
                          type: boolean
                          example: true
                        icon_url:
                          type: string
                          example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/logob6c995d8-8b45-48cc-a748-b256e92ac1cd
                        icon_urls:
                          type: object
                          properties:
                            100x100:
                              type: string
                              example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/logob6c995d8-8b45-48cc-a748-b256e92ac1cd
                            24x24:
                              type: string
                              example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/taskbar905b19da-e7e5-4d8f-beb7-f543a861ac1e
                            300x200:
                              type: string
                              example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/discoveryd9545b2c-5474-46d7-a523-1c3835d862ce
                        id:
                          type: string
                          example: pgn0bjv51epi7eaekt53tovjnc82qo
                        name:
                          type: string
                          example: Official Developer Experience Demo
                        privacy_policy_url:
                          type: string
                        request_identity_link:
                          type: boolean
                          example: true
                        screenshot_urls:
                          type: array
                          items:
                            type: string
                            example: https://extensions-discovery-images.twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.8/screenshotbdec475d-3d2f-4378-b334-941dfddc897a
                        state:
                          type: string
                          example: Released
                        subscriptions_support_level:
                          type: string
                          example: optional
                        summary:
                          type: string
                          example: Test ALL the extensions features!
                        support_email:
                          type: string
                          example: dx-extensions-test-dev@justin.tv
                        version:
                          type: string
                          example: 0.0.9
                        viewer_summary:
                          type: string
                          example: Test ALL the extensions features!
                        views:
                          type: object
                          properties:
                            mobile:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                  example: https://pgn0bjv51epi7eaekt53tovjnc82qo.ext-twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.9/f9a0d8aae0f9dd0b2d6ef3416b96bc79/index.html
                            panel:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                  example: https://pgn0bjv51epi7eaekt53tovjnc82qo.ext-twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.9/f9a0d8aae0f9dd0b2d6ef3416b96bc79/index.html
                                height:
                                  type: number
                                  example: 300
                                can_link_external_content:
                                  type: boolean
                            video_overlay:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                  example: https://pgn0bjv51epi7eaekt53tovjnc82qo.ext-twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.9/f9a0d8aae0f9dd0b2d6ef3416b96bc79/index.html
                                can_link_external_content:
                                  type: boolean
                            component:
                              type: object
                              properties:
                                viewer_url:
                                  type: string
                                  example: https://pgn0bjv51epi7eaekt53tovjnc82qo.ext-twitch.tv/pgn0bjv51epi7eaekt53tovjnc82qo/0.0.9/f9a0d8aae0f9dd0b2d6ef3416b96bc79/index.html
                                aspect_width:
                                  type: number
                                aspect_height:
                                  type: number
                                aspect_ratio_x:
                                  type: number
                                  example: 48000
                                aspect_ratio_y:
                                  type: number
                                  example: 36000
                                autoscale:
                                  type: boolean
                                  example: true
                                scale_pixels:
                                  type: number
                                  example: 1024
                                target_height:
                                  type: number
                                  example: 5333
                                size:
                                  type: number
                                zoom:
                                  type: boolean
                                zoom_pixels:
                                  type: number
                                can_link_external_content:
                                  type: boolean
                        allowlisted_config_urls:
                          type: array
                          items:
                            type: string
                        allowlisted_panel_urls:
                          type: array
                          items:
                            type: string
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: extension_id
          in: query
          schema:
            type: string
  /bits/extensions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    get:
      summary: Get Extension Bits Products
      description: NEW Gets a list of Bits products that belongs to an Extension.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                          example: "1010"
                        cost:
                          type: object
                          properties:
                            amount:
                              type: number
                              example: 990
                            type:
                              type: string
                              example: bits
                        in_development:
                          type: boolean
                          example: true
                        display_name:
                          type: string
                          example: Rusty Crate 2
                        expiration:
                          type: string
                          example: 2021-05-18T09:10:13.397Z
                        is_broadcast:
                          type: boolean
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: should_include_all
          in: query
          schema:
            type: boolean
    put:
      summary: Update Extension Bits Product
      description: NEW Add or update a Bits products that belongs to an Extension.
      tags:
        - Extensions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        sku:
                          type: string
                          example: "1010"
                        cost:
                          type: object
                          properties:
                            amount:
                              type: number
                              example: 990
                            type:
                              type: string
                              example: bits
                        in_development:
                          type: boolean
                          example: true
                        display_name:
                          type: string
                          example: Rusty Crate 2
                        expiration:
                          type: string
                          example: 2021-05-18T09:10:13.397Z
                        is_broadcast:
                          type: boolean
                          example: true
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
  /eventsub/subscriptions:
    parameters:
      - in: header
        name: client_id
        required: true
        schema:
          type: string
    post:
      summary: Create EventSub Subscription
      description: Creates an EventSub subscription.
      tags:
        - EventSub
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 26b1c993-bfcf-44d9-b876-379dacafe75a
                        status:
                          type: string
                          example: webhook_callback_verification_pending
                        type:
                          type: string
                          example: user.update
                        version:
                          type: string
                          example: "1"
                        condition:
                          type: object
                          properties:
                            user_id:
                              type: string
                              example: "1234"
                        created_at:
                          type: string
                          example: 2020-11-10T14:32:18.730260295Z
                        transport:
                          type: object
                          properties:
                            method:
                              type: string
                              example: webhook
                            callback:
                              type: string
                              example: https://this-is-a-callback.com
                        cost:
                          type: number
                          example: 1
                  total:
                    type: number
                    example: 1
                  total_cost:
                    type: number
                    example: 1
                  max_total_cost:
                    type: number
                    example: 10000
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: type
          in: query
          schema:
            type: string
        - name: version
          in: query
          schema:
            type: string
        - name: condition
          in: query
          schema:
            type: string
        - name: transport
          in: query
          schema:
            type: string
    delete:
      summary: Delete EventSub Subscription
      description: Deletes an EventSub subscription.
      tags:
        - EventSub
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      parameters:
        - name: id
          in: query
          schema:
            type: string
    get:
      summary: Get EventSub Subscriptions
      description: Gets a list of your EventSub subscriptions. The list is paginated
        and ordered by the oldest subscription first.
      tags:
        - EventSub
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                    example: 2
                  data:
[...]
